<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script>
      // This is called with the results from from FB.getLoginStatus().
      function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response); // DAPAT USER ID SM TOKEN DARI FB

        if (response.status === 'connected') {
          // Logged into your app and Facebook.

          axios.post('http://localhost:3000/users/fblogin',{member_id:response.authResponse.userID })
          .then((result)=>{
            if(result.data.token == null){
              console.log(result.data.message);
            }
            else {
              localStorage.setItem('token', result.data.token)
              window.location.replace("todo.html")
            }
          })
          .catch((err)=>{
            console.log(err);
          })
          testAPI();
        } else {
          // The person is not logged into your app or we are unable to tell.
          document.getElementById('status').innerHTML = 'Please log ' +
            'into this app.';
        }
      }

      // This function is called when someone finishes with the Login
      // Button.  See the onlogin handler attached to it in the sample
      // code below.
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      window.fbAsyncInit = function() {
      FB.init({
        appId      : '122852798272058',
        cookie     : true,  // enable cookies to allow the server to access
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.9' // use graph api version 2.8
      });

      // Now that we've initialized the JavaScript SDK, we call
      // FB.getLoginStatus().  This function gets the state of the
      // person visiting this page and can return one of three states to
      // the callback you provide.  They can be:
      //
      // 1. Logged into your app ('connected')
      // 2. Logged into Facebook, but not your app ('not_authorized')
      // 3. Not logged into Facebook and can't tell if they are logged into
      //    your app or not.
      //
      // These three cases are handled in the callback function.

      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });

      };

      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
      function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Successful login for: ' + response.name);
          document.getElementById('status').innerHTML =
            'Thanks for logging in, ' + response.name + '!';

        });
      }
    </script>

  </head>
  <body>
    <div id="app">

      <div class="row">
        <div class="col-md-4">
        </div>

        <div class="col-md-4">
              <form role="form">
        				<div class="form-group">
        					<label for="exampleInputEmail1">
        						Username
        					</label>
        					<input v-model="username" class="form-control" />
        				</div>

        				<div class="form-group">
        					<label for="exampleInputPassword1">
        						Password
        					</label>
        					<input v-model="password" type="password" class="form-control" id="exampleInputPassword1" />
        				</div>


        				<button type="submit" class="btn btn-success" v-on:click="loginLocal">
        					Login
        				</button>
                <button type="submit" class="btn btn-primary">
                  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                  </fb:login-button>
        				</button>
                <hr>
                Don't have an account! Sign Up <a href="/signup.html">Here<a>
        			</form>
        </div>

        <div class="col-md-4">
        </div>
      </div>

    </div>
  </body>

  <script>
    var app = new Vue({
      el : '#app',
      data:{
        username:'',
        password:''
      },
      created:function(){
        if(localStorage.getItem('token') != null){
          window.location.href = 'todo.html'
        }
      },
      methods:{
        loginLocal:function(){
          axios.post('http://localhost:3000/users/signin',{username:this.username,password:this.password })
          .then((result)=>{
            if(result.data.token == null){
              console.log(result.data.message);
            }
            else {
              localStorage.setItem('token', result.data.token)
              window.location.replace("todo.html")
            }
          })
          .catch((err)=>{
            console.log(err);
          })
        }
      }
    })
  </script>



</html>
